.NonEditableElement {
    background: none;
    color: #6a6866;
    padding: 0;
    outline: none !important;
    line-height: inherit;
    margin: 0;
    user-select: none !important;
}

.NonEditableElement:hover,
.NonEditableElement:focus,
.NonEditableElement:active {
    outline: none !important;
}
