body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Helvetica Neue', sans-serif;
}
.ck-editor__top,
.ck.ck-toolbar,
.ck-editor__editable {
    box-sizing: border-box;
    width: 860px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.ck-editor__editable{
    min-height: 600px;
}

#word-count-note {
    padding: 10px;
    color: #666;
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.selected {
    background-color: #f2f2f2;
}